GEMBoard_Monitorables: [V0Set, I0Set, Trip, VMon, IMon, IMonReal, IMonDet, Status, Temp, Pw, ImRange, ZCDetect, ZCAdjust]
IntegrationStand: 
  CAENHV_BOARD_TYPE: SY1527
  CAENHV_LINK_TYPE: TCPIP
  CAENHV_BOARD_ADDRESS: 128.141.143.248
  CAENHV_USER: gemuser
  CAENHV_PASSWORD: gemuser
  SLOT: 5
  LAYER: 1
904QC:
  CAENHV_BOARD_TYPE: SY1527
  CAENHV_LINK_TYPE: TCPIP
  CAENHV_BOARD_ADDRESS: 128.141.143.203
  CAENHV_USER: admin
  CAENHV_PASSWORD: admin
  SLOT: 0
  LAYER: 1

Test:
  CAENHV_BOARD_TYPE: SY1527
  CAENHV_LINK_TYPE: TCPIP
  CAENHV_BOARD_ADDRESS: 128.141.143.203
  CAENHV_USER: admin
